.appointment-label {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  color: black;
  margin-bottom: 0.5rem;
}

.appointment-input {
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  margin-top: 0.3rem;
}
