.hero-appointment {
  text-align: center;
  padding: 80px 20px 40px 20px;
  background: #FFDFA1;
}

.hero-appointment h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  color: #333;
}

.hero-appointment p {
  font-size: 1.25rem;
  color: #555;
}
