/* section2.css */

.section2 {
    position: relative; /* Indispensable pour le logo en fond */
    background-color: #323232; /* Le gris foncé */
    color: #D9D9D9;
    
    /* Centrage du bloc de texte */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 450px; /* Hauteur minimum pour que ça respire */
    
    overflow: hidden; /* Coupe le logo s'il dépasse sur les côtés */
}

/* LE TEXTE */
.section2-content {
    position: relative;
    z-index: 2; /* Le texte passe AU-DESSUS du logo */
    max-width: 1200px; /* Limite la largeur pour la lisibilité */
    width: 100%;
    text-align: left; /* Alignement à gauche comme sur ta capture */
}

.section2-content h2 {
    font-family: 'Public Sans', sans-serif;
    font-size: 40px; /* Taille du texte */
    font-weight: 700; /* Gras */
    line-height: 1.4; /* Espacement des lignes */
    color: #FFFFFF;
    margin: 0;
}

/* LE LOGO FANTÔME (Fond) */
.section2-bg-logo {
    position: absolute;
    z-index: 1; /* Le logo passe EN-DESSOUS du texte */
    transform: rotate(45deg);
    right: -155px; 
    bottom: -14Opx; 
    filter: grayscale(1) brightness(0) invert(1);
    opacity: 0.05;
    pointer-events: none; 
}

.section2-bg-logo img {
    width: 700px;
    height: auto;
    transform: rotate(15deg); /* Petite rotation stylée */
}
