@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;700;900&display=swap');

:root {
  font-family: 'Public Sans', sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
}