@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,600;0,700;1,400&family=Public+Sans:wght@300;400;600;700;800&display=swap');

:root {
  font-family: 'Public Sans', sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #FFF6E4;
  overflow-x: hidden;
}